# Project Dependencies
node_modules/

# Local Environment variables (NEXT WILL PREFER THE .local over the others)
.env*.local

# Configs of editors
.vscode/
.idea/

# production folders
dist/
build/
.next/

# Cache files
*.tsbuildifo

# Volumes of docker
db-data/

#macOS
*.DS_Store
